mixin job(name, img, link, title, location, description, startDate, endDate='Present')
  article
    header
      a(href=link target='_blank' title=`Go to ${name} site` rel='noopener noreferrer')
        img(src=img alt=`${name} logo`)
      h3
        a(href=link target='_blank' rel='noopener noreferrer') #{name}
        |  - #{title}
      p
        i #{startDate} - #{endDate}
      p #{location}
    section !{description}
